<mat-sidenav-container
    class="app-root"
    (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav disableClose>
        <div><button (click)="gotoHome()">Home</button></div>
        <div><button (click)="gotoThreejsAngularIntegration()">Angular-Three Integration</button></div>
        <div><button (click)="gotoFBXAnimations()">FBX Animations</button></div>
        <div><button (click)="gotoNavmesh()">Navmesh</button></div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-top-toolbar [title]="title"
            (hamburgerClicked)="toggleMenu()"></app-top-toolbar>
        <router-outlet>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

    
